*{
    margin: 0;
    padding: 0;
    max-height: 100vh;
    font-family: 'Oxygen', sans-serif;
}


.cabecario{
    background-image: url("../img/locadora-logo.jpg");
    height: 10vh;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
}

.container{
    display: grid;
    height: 80vh;
    grid-template-columns:  1fr 4fr ;
    grid-template-rows: 80vh;
}

.menu-lateral{
    grid-row:80vh;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    background-color: black ;
    
}

.menu-lateral ul li {
    display: flex;
    width: 100%;
    padding: 20px;
    
}

.menu-lateral ul li:hover{
    background-color: white;
}

li{
    justify-content: center;
    
}

li a{
    color: white;
    padding: 5px;
    border-radius: 8px;
    justify-content: space-between;
    text-decoration: none;
}


a:visited{
    color: inherit;
}

.conteudo{
    display: flex;
    grid-row: 80vh;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-color: white;
    justify-content: flex-start;
   
    
}


.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-filmes .pagina-filmes{
    display: inline;
    padding: 10px;
}
.filmes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 80px;
    
}

.filmes div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    border: 1px solid;
    flex-direction: column;
}

.filmes div img {
    width: 100px;
    height: 150px;
    margin-top: 20px;

}
.filmes div a {
    text-decoration: none;
    color: black;
    margin-top: 20px;

}

button{
    color: black;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    background-color: aquamarine;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: black;
    color: white;
}