* {
    margin: 0;
    padding: 0;
    max-height: 100vh;
    font-family: 'Oxygen', sans-serif;
    box-sizing: border-box;

}


.cabecario {
    background-image: url("../img/locadora-logo.jpg");
    height: 10vh;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
}

.container {
    display: grid;
    height: 80vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 80vh;
}

.menu-lateral {
    grid-row: 80vh;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    background-color: black;

}

.menu-lateral ul li {
    display: flex;
    align-items: center;
    padding: 20px;

}

.menu-lateral ul li:hover {
    background-color: white;
    color: black;
}

.menu-lateral ul li a:hover,
.menu-lateral ul li i:hover {
    color: black;
}


li {
    justify-content: center;

}

li a {
    color: white;
    padding: 5px;
    border-radius: 8px;
    justify-content: space-between;
    text-decoration: none;
}


a:visited {
    color: inherit;
}

.conteudo {
    display: flex;
    grid-row: 80vh;
    align-items: center;
    flex-direction: column;
    background-color: white;
    text-align: justify;

}

.texto-descricao {
    width: 30%;
    height: 50%;
    margin-top: 30px;
    padding: 15px;
    border-radius: 10px;
}

.conteudo img {
    width: 15%;
    height: 20%;
    margin-top: 20px;

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: black;
    color: white;
}