*{
    margin: 0;
    padding: 0;
    max-height: 100vh;
    font-family: 'Oxygen', sans-serif;

}

li{
    justify-content: center;
    
}

li a{
    color: white;
    padding: 5px;
    border-radius: 8px;
    justify-content: space-between;
    text-decoration: none;
}


a:visited{
    color: inherit;
}


.cabecario{
    background-image: url("../img/locadora-logo.jpg");
    height: 10vh;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
}

.container{
    display: grid;
    height: 80vh;
    grid-template-columns:  1fr 4fr ;
    grid-template-rows: 80vh;
}

.menu-lateral{
    grid-row:80vh;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    background-color: black ;
    
}

.menu-lateral ul li {
    display: flex;
    padding: 20px;
    
}


.conteudo{
    display: flex;
    grid-row: 80vh;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-color: gray;
    text-align: justify;
    justify-content: center;
    padding: 50px;
   

    
}

.trilhasSonoras{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    overflow: auto ;
}

.trilhasSonoras div{
    position: inherit;
    display: flex;
    padding: 0;
    margin-top: 60px;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
}

.trilhasSonoras audio{
    margin-top: 10px;
}



footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: black;
    color: white;
}