*{
    margin: 0;
    padding: 0;
    max-height: 100vh;

}


.cabecario{
    background-color: red;
    height: 20vh;
    
}

.container{
    display: grid;
    height: 60vh;
    grid-template-columns:  1fr 2fr ;
    grid-template-rows: 60vh;
}

.menu-lateral{
    grid-row:60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow ;
}

.conteudo{
    display: flex;
    grid-row: 60vh;
    justify-content: center;
    align-items: center;
    background-color: green;
    background-size: cover;

}

footer{
    height: 20vh;
    background-color: blue;
}